@page
@model LoginModel


<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <style>
            .login-wrap {
                top: 40px;
                width: 100%;
                margin: auto;
                max-width: 525px;
                min-height: 600px;
                position: relative;
                background: rgba(40, 57, 101, .9);
                background-attachment: fixed;
                background-repeat: no-repeat;
                box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
                margin-left:450px;
            }

            .login-html {
                width: 100%;
                height: 100%;
                position: absolute;
                padding: 90px 70px 50px 70px;
                color:white;
                margin-top:5px;
            }

			body{
                margin: 0;
                color: #6a6f8c;
                background: #222;
                background-image: url('https://source.unsplash.com/1600x900/?landscape');
                font: 600 16px/18px 'Open Sans', sans-serif;
                height: 100vh;
            }

            .btn-primary{
                margin-left: 10px;
            }

            #login-submit{
                text-align: center;
                position: relative;
                top: 150px;
            }

            
        </style>
        <div id="login">
            <div class="login-wrap">
                <div class="login-html">
                    <div class="title">
                        <h1>Sign In</h1>
                    </div>
					<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="login-form">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
						<label asp-for="Input.Email" class="form-label"></label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					 </div>
					<div class="login-form">
						<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
						<label asp-for="Input.Password" class="form-label"></label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div>
						<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
					</div>
					<div>
						<p>
							<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
						</p>
					 </div>
				     </form>
                </div>
             </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}