@page
@model RegisterModel


<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<head>
				<style>
					#signup {
						margin: 0;
						color: #6a6f8c;
						background: #222;
						background-image: url('https://source.unsplash.com/1600x900/?landscape');
						font: 600 16px/18px 'Open Sans', sans-serif;
						height: 100vh;
					}

					*,
					:after,
					:before {
						box-sizing: border-box
					}

					.clearfix:after,
					.clearfix:before {
						content: '';
						display: table
					}

					.clearfix:after {
						clear: both;
						display: block
					}

					a {
						color: inherit;
						text-decoration: none
					}

					.signup-wrap {
						top: 40px;
						width: 100%;
						margin: auto;
						max-width: 525px;
						min-height: 670px;
						position: relative;
						background: #222;
						background-image: url('https://source.unsplash.com/1600x900/?landscape');
						background-attachment: fixed;
						background-repeat: no-repeat;
						box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
						margin-left: 400px;
					}

					.signup-html {
						width: 100%;
						height: 100%;
						position: absolute;
						padding: 90px 70px 50px 70px;
						background: rgba(40, 57, 101, .9);
					}



						.signup-html .tab,
						.signup-form .signup-group .signup-label,
						.signup-form .signup-group .button {
							text-transform: uppercase;
							margin-top: 25px;
						}

					.signup-form .signup-label {
						height: 19px;
					}

					.title-signup {
						color: #ffffff;
					}



					.signup-form {
						top: 20px;
						min-height: 340px;
						position: relative;
						perspective: 1000px;
						transform-style: preserve-3d;
					}

						.signup-form .signup-group {
							margin-bottom: 1px;
						}

							.signup-form .signup-group .signup-label,
							.signup-form .signup-group .input,
							.signup-form .signup-group .button {
								width: 100%;
								color: #fff;
								display: block;
							}

							.signup-form .signup-group .input,
							.signup-form .signup-group .button {
								border: none;
								padding: 15px 20px;
								border-radius: 25px;
								background: rgba(255, 255, 255, .1);
							}

							.signup-form .signup-group input[data-type="password"] {
								-webkit-text-security: circle;
							}

							.signup-form .signup-group .signup-label {
								color: #aaa;
								font-size: 12px;
							}

					.btn1 {
						border-radius: 100px;
						border: 1px solid #8f0808;
						background-color: #8f0808;
						color: #ffffff;
						font-size: 16px;
						font-weight: bold;
						padding: 14px 42px;
						letter-spacing: 1px;
						text-transform: uppercase;
						cursor: pointer;
					}

						.btn1:active {
							transform: scale(0.95);
						}

					.button-container {
						text-align: center;
						position: relative;
						top: 70px;
					}

					.btn-primary{
						margin-left:500px;
					}

					.go-login {
						color: #ffffff;
						top: 120px;
						position: relative;
						text-align: center;
						text-decoration: underline;
						font-size: 14px;
						opacity: 60%;
					}

				</style>
			</head>
			<body id="signup">
				<div class="signup-wrap">
					<div class="signup-html">
						<div class="title-signup">
							<h1>Sign Up</h1>
						</div>
						<div class="signup-form">
							
							<div class="form-floating">
								<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
								<label asp-for="Input.Email"></label>
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
							<div class="form-floating">
								<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
								<label asp-for="Input.Password"></label>
								<span asp-validation-for="Input.Password" class="text-danger"></span>
							</div>
							<div class="form-floating">
								<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
								<label asp-for="Input.ConfirmPassword"></label>
								<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
							</div>

							<div class="button-container">
								<button class="btn1">Sign Up</button>
							</div>

							<div class="go-login">
								<label>
									<a href="../login/Login.html">
										Already have an account? Sign in!
									</a>
								</label>
							</div>
						</div>
					</div>
				</div>
			</body>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
           
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
